.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.navbar {
  flex-shrink: 0;
  background-color: #333;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.main-content {
  display: flex;
  flex: 1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f4f4f4; /* Light gray background */
  padding-top: 0; /* Ensure there's no padding pushing it down */
  margin: 0; /* Ensure no margin that could cause a gap */
  width: 250px; /* Fixed width for sidebar */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
  border-radius: 4px;
}

.sidebar a:hover {
  background-color: #007bff; /* Blue background on hover */
  color: white;
}

.add-project-button {
  margin-top: auto;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.add-project-button:hover {
  background-color: #218838;
}

  
  .add-button {
    margin-top: auto; /* Pushes the button to the bottom */
    background-color: #28a745; /* Green background */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  .add-button:hover {
    background-color: #218838; /* Darker green on hover */
  }
  

  .content {
    flex: 1;
    padding: 20px;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    color: white;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .navbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #555;
  }
  
  .dropdown-content {
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: block; /* Controlled by React state */
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Ensure that visited links stay black */
  .dropdown-content a:visited {
    color: black;
  }
  