.pin {
  width: 150px;
  height: 150px;
  background-color: #ffc107;
  border: 2px solid #ffeb3b;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: grab;
  position: absolute;
  z-index: 0;
}

.pin textarea {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  resize: none;
  outline: none;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #333;
}

.pin-content {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #333;
  cursor: default; /* Standard cursor for non-editable text */
  overflow-wrap: break-word; /* Ensure text wraps within the pin */
}

.edit-button, .delete-button{
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
  text-align: center;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  left: 100px;
}

.delete-button:hover {
  background-color: #c82333;
}

.add-pin {
  position: relative;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
}


.add-pin:hover {
  background-color: #218838;
}

