.project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .project-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .project-card-header h3 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .project-card-body {
    display: flex;
    flex-direction: column;
  }
  
  .project-detail {
    margin-bottom: 10px;
    font-size: 1em;
  }
  
  .project-detail strong {
    font-weight: bold;
  }
  

  .project-list {
    display: flex;
    flex-direction: column;
  }

  .project-page{
    display: flex;
    position: relative;
    left:50px;
    top: 60px;
  }